trigger: none
pr: none


schedules:
  - cron: "0 2 * * *"   # Daily at 02:00 UTC
    displayName: Daily Dependabot Run
    branches:
      include:
        - main
    always: true


pool:
  vmImage: ubuntu-latest


variables:
  - group: appsec-depandabot   # contains ADO_DEPENDABOT_PAT


steps:
  - checkout: self
    displayName: Checkout repository

  - task: Docker@2
  displayName: Build Dependabot (internal)
  inputs:
    command: build
    Dockerfile: Dockerfile
    buildContext: .
    repository: dependabot-internal
    tags: |
      latest

- task: Docker@2
  displayName: Run Dependabot (npm)
  inputs:
    command: run
    arguments: |
      --rm
      -e AZURE_ACCESS_TOKEN=$(ADO_DEPENDABOT_PAT)
      -e PACKAGE_MANAGER=npm
      -e DIRECTORY_PATH=/
      -e PROJECT_PATH=$(System.CollectionUri:22)$(System.TeamProject)/_git/$(Build.Repository.Name)
      dependabot-internal:latest
